.Landing_page {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    background: rgb(241, 241, 241);
    /* background: rgb(233, 232, 232); */

}

.LandingPage_Wrapper {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.RedExDisplay_Details {
    width: 95%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.RedExDisplay_Carousel {
    width: 100%;
    height:75% ;
    display: flex;
}

.RedExDisplay_Image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.RedExDisplay_Image img {
    width: 90%;
}

.RedExDisplay_Desc {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.RedExDisplay_DescWrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;

}

.RedExDes_Text {
    width: 100%;
    height: 55%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.RedExDes_Text h1 {
    font-size: 35px;
}

.RedExDes_Text span {
    width: 60%;
    font-size: 17px;
}

.RedExShopNow_Btn {
    width: 40%;
    height: 70px;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.RedExShopNow_Btn:hover {
    transition: all 700ms;
    background-color: rgb(209, 12, 12);
}

.RedEx_AddressDiv {
    width: 100%;
    height: 25%;
}

.RedEx_Address {
    width: 55%;
    height: 80%;
    background: #27283D;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.RedExAddress_Location {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.RedExAddress_Location h4, .RedExAddress_Contact h4{
    width: 83%;
    color: white;
    font-size: 17px;
}

.Contact_Line {
    width: 1px;
    height: 80%;
    background: white ;
}

.RedExAddress_Location div, .RedExAddress_Contact div {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.RedExAddress_Contact {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RedExFeatured_Categories {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    margin-bottom: 5vh;
}

.Category_TextHeader {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 10px;
} 

.Category_TextHeader h1 {
    font-size: 35px;
} 

.RedExCategories_Products {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.9%;
 }

.Categoriy_Products {
    width: 585px;
    height: 398px;
    background: #EDEBEB;
    display: flex;
    align-items: center;
    margin-bottom: 8vh;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* g */

}

.Category_ProductImg {
    width: 50%;
    height: 99%;
    background: white;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Category_ProductDesc {
    width: 50%;
    height: 100%;
    
}

.Category_TopDesc {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Category_TopDesc span {
    width: 60%;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
}

.Category_BotDesc  {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Get_ShoppingBtn {
    width: 70%;
    height: 55px;
    background-color: red;
    color: white;
    font-size: 19px;
    /* font-weight: bold; */
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

.Get_ShoppingBtn:hover {
    transition: all 600ms;
    background-color: rgb(223, 9, 9);
}

.RedExTop_Demanding {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    margin-bottom: 5vh;
}

.Demanding_TextHeader {
    width: 100%;
    height: 5vh;
    display: flex;
    gap: 10px;
} 

.Demanding_TextHeader h1 {
    font-size: 35px;
} 

.RedExDemanding_Products {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
}

.Demanding_Products {
    width: 372px;
    height: 350px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1);
    position: relative;
    margin-bottom: 7vh;
}

.Demanding_Products:hover {
    transition: all 350ms ease-in-out;
    transform: scale(1.03);
}

.Demanding_Products img{
    width: 90%;
    height: 80%;
}

.Demanding_Products span{
    width: 70%;
    display: flex;
    top: 60%;
    text-align: center;
    position: absolute;
    color: white;
    font-size: 20px;
}

.RedEx_Service {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    margin-bottom: 5vh;
}
.Service_TextHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.Service_TextHeader div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9px;
}

.Service_TextHeader div h1 {
    font-size: 35px;
} 

.RedExService_Template {
    width: 97%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 5.9%;
    justify-content: center;
}

.RedExService_Info {
    width: 346px;
    height: 314px;
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    border-radius: 10px;
    position: relative;
}

.RedExService_Info span {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.RedExCase_Studies {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    gap:35px;
}

.CaseStudies_TextHeader {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.CaseStudies_TextHeader h1 {
    font-size: 35px;
} 

.Case_StudiesDiv {
    width: 100%;
    height: 60vh;
    background: white;
    border-radius: 5px;
}

.RedEx_FAQ {
    width: 95%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    margin-bottom: 5vh;
}

.FAQ_TextHeader {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.FAQ_TextHeader h1{
    font-size: 35px;
}

.RedExFAQ_AnsDiv {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.FAQ_AnsWrapper {
    width: 100%;
    padding-block:25px;
    background-color: white;
    align-items: center;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rot{
    rotate: 180deg;
    transition: all 350ms;
    background-color: #1d252f38;
}

.FAQ_Que {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FAQ_Que span {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.FAQ_Ans {
    width: 100%;
    padding-block:18px;
    font-size: 17px;
    padding-inline: 10px;
    line-height:21px;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.5);
}
