
@media screen and (max-width: 575px) { 
    
    
.LandingPage_Wrapper {
    width: 100%;
}


.RedExDisplay_Carousel {
    flex-direction: column;
    height: 70%;
}

.RedEx_AddressDiv {
    height: 25%;
}


.RedExDisplay_Details {
    width: 100%;
    height: 100vh;
    background: red;
    color: white;
    margin-top: -3vh;
    margin-bottom: 10vh;
}


.RedExDisplay_Image {
    width: 100%;
    height: 55%;
    justify-content: center;
    padding-top: 10px;
    justify-content: center;
    
}

.RedExDisplay_Image img {
    width: 80%;
    height: 100%;
}

.RedExDisplay_Desc {
    width: 100%;
    justify-content: center;
    height: 40%;
}

.RedExDisplay_DescWrapper {
    width: 95%;
    height: 90%;
    justify-content: space-between;
    align-items: center;

}

.RedExDes_Text {
    gap: 9px;
    height: 65%;
}

.RedExDes_Text h1 {
    font-size: 20px;
    line-height: 26px;
    /* text-align: center; */
}

.RedExDes_Text span {
    width: 80%;
    font-size: 17px;
}

.RedExShopNow_Btn {
    width: 70%;
    height: 49px;
    border-radius: 5px;
    background-color: white;
    font-size: 19px;
    color: red;
}

.RedExShopNow_Btn:hover {
    background-color:white;
}

.RedEx_Address {
    width: 100%;
    background: none;
    flex-direction: column;
    height: 100%;
}

.Contact_Line {
    width: 95%;
    height: 4px;
}
.RedExAddress_Location {
    gap: 4px;
    width: 100%;
    height: 45%;
    align-items: flex-start;
    padding-left: 2.5%;
}
.RedExAddress_Location h4, .RedExAddress_Contact h4{
    font-size: 18px;
}

.RedExAddress_Location div, .RedExAddress_Contact div {
    font-size: 16px;
    gap: 5px;
}

.RedExAddress_Contact {
    gap: 4px;
    align-items: flex-start;
    padding-left: 2.5%;
    width: 100%;
    height: 45%;
}


.RedExFeatured_Categories {
    gap: 2vh;
    align-items: center;
    margin-bottom: 0vh;
}

.Category_TextHeader {
    width: 95%;
} 

.Category_TextHeader h1 {
    font-size: 26px;
} 

.RedExCategories_Products {
    width: 95%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
 }

 
/* 
 .Categoriy_Products {
    width: 90%;
    height: 460px;
    background: #EDEBEB;
    flex-direction: column;
    margin-bottom: 3vh;

}

.Category_ProductImg {
    margin-top: 4%;
    width: 95%;
    height: 51%;
    border-radius: 5px;
}

.Category_ProductImg img {
    width: 70%;
    height: 90%;
    border-radius: 5px 0px 0px 5px;
}

.Category_ProductDesc {
    width: 87%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.Category_TopDesc {
    height: 50%;
    align-items: center;
}
.Category_TopDesc span {
    width: 90%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.Category_BotDesc  {
    align-items: flex-start;
}

.Get_ShoppingBtn {
    width: 100%;
    height: 65px;
    font-size: 20px;
} */


.Categoriy_Products {
    width: 47%;
    height: 260px;
    background: #EDEBEB;
    flex-direction: column;
    margin-bottom: 3vh;
    /* g */

}

.Category_ProductImg {
    margin-top: 4%;
    width: 95%;
    height: 51%;
    border-radius: 5px;
}

.Category_ProductImg img {
    width: 70%;
    height: 90%;
    border-radius: 5px 0px 0px 5px;
}

.Category_ProductDesc {
    width: 87%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.Category_TopDesc {
    height: 50%;
    align-items: center;
}
.Category_TopDesc span {
    width: 90%;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.Category_BotDesc  {
    align-items: flex-start;
}

.Get_ShoppingBtn {
    width: 100%;
    height: 45px;
    font-size: 13px;
}

.RedExTop_Demanding {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    margin-bottom: 0vh;
    margin-top: 4vh;
}

.Demanding_TextHeader h1 {
    font-size: 26px;
} 

.RedExDemanding_Products {
    width: 95%;
    gap: 4%;
    margin-bottom: 2vh;
}

.Demanding_Products {
    width: 49%;
    height:180px;
    background: rgb(238, 238, 238);
    border-radius:10px;
    margin-bottom: 4vh;
}


.Demanding_Products img{
    width: 85%;
    height: 80%;
}

.Demanding_Products span{
    top: 50%;
    color: white;
    font-size: 14px;
}

.RedEx_Service {
    width: 100%;
    gap: 0vh;
    margin-bottom: 3vh;
}

.Service_TextHeader div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9px;
}

.Service_TextHeader div h1 {
    font-size: 26px;
} 

.Service_TextHeader h3{
    font-size: 16px;
}

.RedExService_Template {
    width: 100%;
    gap: 7.5%;
    justify-content: center;
}

.RedExService_Info {
    width: 100%;
    height: 274px;
    object-fit: cover;
}

.RedExService_Info img{
    width: 100%;
    height: 100%;
}

.RedExService_Info span {
    font-size: 15px;
    font-weight: normal;
}

.RedExCase_Studies {
    width: 95%;
    margin-bottom: 9vh;
    gap:10px;
}

.CaseStudies_TextHeader {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.CaseStudies_TextHeader h1 {
    font-size: 26px;
} 

.Case_StudiesDiv {
    width: 100%;
    height: 20vh;
}

.RedEx_FAQ {
    gap: 3vh;
    margin-bottom: 5vh;
}

.FAQ_TextHeader h1{
    font-size: 26px;
}

.RedExFAQ_AnsDiv {
    gap: 10px;
}

.FAQ_AnsWrapper {
    padding-block:20px;
    padding-inline: 15px;
}

.rot{
    rotate: 180deg;
    transition: all 350ms;
    background-color: #1d252f38;
}

.FAQ_Que span {
    font-size: 16px;
    color: black;
    font-weight: normal;
}

.FAQ_Ans {
    padding-block:2px;
    font-size: 14px;
    padding-inline: 2px;
    line-height:21px;
    font-weight: 500;
    color:rgb(255, 0, 0);
}

}