.Account_Page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.AboutPage_Wrapper {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Acc_Line {
    width: 0.2%;
    height: 95%;
    background: #00000031;
}

@media screen and (max-width: 575px) { 
    .Acc_Line {
        display: none;
    }
     
}