.Account_Contents {
        width: 49.9%;
        height: 100%;
}

.AccCont_Wrapper {
        width: 90%;
        height: max-content;
}

@media screen and (max-width: 575px) {
        .Account_Contents {
           width: 100%;
           display: none;
        }
    }