.Signup_Page {
    width: 100%;
    height: 100vh;
    background: url('../../../assets//bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.SignUp_Opacity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.14);
}

.Redex_TlogoSignUp {
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 5%;
}

.Redex_TlogoSignUp:hover {
     transition: all 500ms ease-in-out;
     top: 4%;
}

.Signup_Card {
    width: 30%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Nunito, sans-serif;
}

.Signup_Header {
    width: 90%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.Signup_Header h1 {
    font-size: 30px;
}

.Signup_Header span {
    font-size: 19px;
    font-weight: bold;
    color: red;
}

.Signup_Body {
    width: 85%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Signup_Inputs {
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Signup_Input {
    width: 100%;
    height: 17.5%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.Signup_Input label {
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.Signup_Input input {
    width: 100%;
    height: 70%;
    border: none;
    outline: none;
    color: black;
    background: #EDF2F7;
    border-radius: 3px;
    padding-inline: 10px;
    font-size: 15px;
    font-weight: 600;
}

.Signup_Input input::-webkit-inner-spin-button {
    display: none;
}

.Signup_Input input:placeholder-shown {
    color: rgba(0, 0, 0, 0.34);
    font-size: 12px;
    font-weight: bold;
}

.Signup_InputDuo input:placeholder-shown {
    color: rgba(0, 0, 0, 0.34);
    font-size: 12px;
    font-weight: bold;
}

.Signup_Input input:focus {
    border: 1px solid #27283D;
}

.Signup_InputDuo {
    width: 100%;
    height: 17.5%;
    display: flex;
    justify-content: space-between;
}

.Signup_InputDuo div {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Signup_InputDuo div input{
    width: 100%;
    height: 70%;
    border: none;
    outline: none;
    color: black;
    background: #EDF2F7;
    border-radius: 3px;
    padding-inline: 10px;
    font-size: 15px;
    font-weight: 600;
}

.Signup_InputDuo div input:focus {
    border: 1px solid #27283D;
}

.Signup_InputDuo div label{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.678);
}

.Country_Code {
    position: absolute;
    top: 48%;
    left: 2.5%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.603);
    font-weight: bold;
}

.Signup_Btn {
    width: 100%;
    height: 12%;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Signup_Btn:hover {
    transition: all 700ms;
    background-color: rgb(209, 12, 12);
}

.Show_Confirmpassword {
    position: absolute; 
    right: 5%;
    top: 45%;
    cursor: pointer;
    rotate: 180deg;
    font-size: 23px;
    transition:  all 350ms;
 }

.Show_Password {
    position: absolute; 
    right: 5%;
    cursor: pointer;
    font-size: 23px;
    top: 45%;
    rotate: 180deg;
    transition: all 350ms;
 }