.RedExHeaderWrappper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.RedEx_Header {
    width: 95%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.RedExHeader_Logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}


.Burger {
    font-size: 150px;
    display: none;
 
}

.RedExHeader_Nav {
    width: 48.4%;
    height: 100%;
}

.RedExHeader_Nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around ;
    color: black;
    align-items: center;
}

.RedExHeader_Nav ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.RedExHeader_Nav ul li:hover {
    text-decoration: underline;
}

.Profile {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Profile:hover {
    transition: all 350ms;
    background: red;
}

.Nav_PopUp {
    width: 20%;
    height: 70px;
    background: white;
    position: absolute;
    right: 5%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    top: 11%;
}

.Nav_PopUp ul{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10px;
    position: relative;
    align-items:center;
}

.Nav_PopUp ul li{
    font-size: 13px;
    cursor: pointer;
}

.Nav_PopUp ul li:hover{
    color: red;
}

.Profile_Arr {
    font-size: 10px;
    rotate: -90deg;
    /* font-weight: bolder; */
}

.Cart_Qty {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    font-family: cursive;
    top: 19%;
    right: 11%;
}