@media screen and (max-width: 575px) { 
.About_Wrapper {
    width: 100%;
}

.About_FirstPart {
    height: 80vh;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.Mobil {
    display: none;
}

.About_FirstPartLeft {
    width: 100%;
    height: 40%;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 0%;
    gap: 10px;
}

.LeftPart_Header {
    gap: 0px;
}

.LeftPart_Header h2 {
    font-size: 25px;

}

.LeftPart_Header h4{
    font-size: 23px;
}



.About_FirstPartLeft span {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    text-align:center ;
}

.About_FirstPartRight {
    width: 100%;
    height: 57%;
    justify-content: center;
}

.Right_PartImg2 {
    display: none;
    width: 100%;
    height: 90%;
}

.Right_PartImg1 {
    width: 100%;
    height: 100%;
}

.Right_PartImg1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0.3%;
    top: 0.6%;
}

.Right_PartImg2 img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0.3%;
    top: 0.6%;
}


.ReadMore_Btn {
    width: 50%;
    height: 19%;
    color: white;
    border:none;
    font-size: 16px;
    background: red;
}


.About_SecPart {
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
}

.About_SecPartLeft {
    width: 100%;
    height: 60%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0%;
    gap: 10px;
}

.SecPart_Right {
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.SecPart_Left {
    width:100%;
    border-radius: 5px;
    height: 100%;
    background: #000;
    object-fit: cover;
}

.SecPart_Left img{
    width:100%;
    height: 100%;
    border-radius: 5px;
}

.SecLeftPart_Header {
    text-align: center;
}

.SecLeftPart_Header h2 {
    font-size: 25px;

}

.SecLeftPart_Header h4{
    font-size: 23px;
}

.SecPart_Right span {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    text-align:center ;
}


.Great_Product {
    width: 100%;
    height: 40vh;
    margin-bottom: 5vh;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.Great_Product h1{
    width: 90%;
    letter-spacing: 5px;
    line-height: 29px;
}

.Choice_Part img{
    width:100%;
    background: rgba(255, 0, 0, 0.335);
}

.Choice_Part {
    width: 100%;
    height: 70vh;
    background: #A9AAAF;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}   

.Choice_Text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Choice_Text span{
    font-size: 30px;
}

.Choice_Text h4{
    color: red;
    font-size: 35px;
}

}