.RedExCategory_Page {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RexExMain_Category {
    width: 95%;
    height: 80vh;
    justify-content: center;
    display: flex;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25) */

}

.MainCategory_Img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainCategory_Img img {
    width: 80%;
    height: 80%;
}

.MainCategory_Desc {
    width: 50%;
    height: 100%;
    
}

.Category_SearchBar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
}

.Category_Header {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.Category_Header h1 {
    width: 90%;
    font-size: 40px;
}
.Category_Header p {
    width: 80%;
    font-size: 20px;
}

.Category_BtnDiv {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.Category_Btn {
    width: 50%;
    height: 45%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: red;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.Category_ProductSection {
    width: 95%;
    height: max-content;
    display: flex;
    gap: 5vh;
    flex-direction: column;
}

.Category_SortDiv {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.SortBy_Category {
    width:7%;
    height: 40%;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: white;
}

.Choose_Category {
    width:9%;
    height: 40%;
    border: 1px solid black;
    border-radius: 3px;
    padding-inline: 5px;
    outline: none;
    font-size: 14px;
}

.Category_ProductsDiv {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.Category_ProductsH {
    width: 19.65rem;
    height: 350px;
    border-radius: 10px;
    background: red;
    display: flex;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7vh;
}


.Category_ProductsHMobile {
    width: 23%;
    height: 350px;
    border-radius: 10px;
    background: red;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7vh;
    display: none;
}

.Category_ProductsH:hover{
    position: relative;
    transition: 350ms;
    height: 450px;
}

.Category_ProductsH:hover >.Category_ImgH{
    transform: scale(.8);
    position: absolute;
    transition: 350ms;
    top: 0;
    height: 55%;
}

.Category_ProductsH:hover >.Category_DesH{
    display: flex;
    background: white;
    position: absolute;
    bottom: 0;
}

.Category_ImgH {
    width: 100%;
    transition: 350ms;
    height: 63%;
    display: flex;
    cursor: pointer;
    justify-self: center;
    border-radius: 3px;
    align-items: center;
    display: flex;
    transform: scale(1);
    justify-content: center;
}

.Category_ImgH img{
    width: 80%;
    height: 100%;;
}

.Category_DesH {
    width: 100%;
    height: 45%;
    display: none;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    align-items: center;

    background: rgba(255, 255, 255, 0.175);

}

.Category_Products {
    width: 24%;
    height: 500px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 7vh;}

.Category_Img {
    width: 100%;
    height: 60%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    background: red;
    justify-self: center;
    border-radius: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center     ;
}

.Category_Img img{
    width: 70%;
    height: 70%;

}

.Category_Des {
    width: 100%;
    height: 40%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 0px 3px 10px 10px;

}

.CategoryDes_Details {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;  
    user-select: none;
}

.Detail_Name {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Detail_Name span{
    font-size: 14px;
}

.Detail_Size, .Detail_Color {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Detail_Size div, .Detail_Color div{
    width: 100%;
    display: flex;
    gap: 10px;
}

.Detail_Size div span, .Detail_Color div span{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.CategoryDes_Details h4{
    font-size: 15px;
}

.CategoryDes_Btn {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content:  space-between;
    align-items: center;   
}

.CategoryDes_BtnC {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}

.Cateory_ATCBtn {
    width: 45%;
    height: 65%;
    background: #27283D;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    transform: scale(1);
}

.Category_ProductsC {
    width: 24%;
    height: 500px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 7vh;}

.Category_ImgC {
    width: 100%;
    height: 60%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-self: center;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
}

.Category_ImgC img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.Category_DesC {
    width: 100%;
    height: 40%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px 10px 10px 10px;

}

.CategoryDes_DetailsC {
    width: 85%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:  flex-end;  
    gap: 10px; 
}

.CategoryDes_DetailsC h4{
    font-size: 20px;
}

.CategoryDes_BtnC {
    width: 85%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}

.Cateory_ATCBtnC {
    width: 45%;
    height: 55%;
    background: #27283D;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(1);
}

.Cateory_ATCBtnC:hover {
    transition: all 350ms;
    transform: scale(1.03);
}

.ATC_IconC {
    font-size: 26px;
}


.Cateory_ORNBtn {
    width: 45%;
    height: 55%;
    background: red;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(1);
}

.Cateory_ATCBtn:hover {
    transition: all 350ms;
    transform: scale(1.03);
}

.Cateory_ORNBtn:hover {
    transition: all 350ms;
    transform: scale(1.03);
}

.ATC_Icon {
    font-size: 20px;
}

.ATC_IconC {
    font-size: 26px;
}

.ATC_Noftication {
    width: 257px;
    height: 320px;
    background: white;
    position: fixed;
    top: 2%;
    right: 3%;
    animation:slideInDown;
    animation-duration:0.6s ;
}

.ATCImg_Pop {
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pop_Img {
    /* width: 214px; */
    width: 83%;
    height: 164px;
    background: #27283D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pop_Img img{
    width: 75%;
    height: 80%;
}

.Pop_Details {
    width: 100%;
    height: 37%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Pop_Des {
    width: 83%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.Pop_Des span{
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.824);
}

.Pop_Des p{
    font-size: 13px;
}

.Pop_Qty {
    width: 83%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.Pop_Qty span{
    width: 15%;
    height: 80%;
    display: flex;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.663);
    justify-content: center;
    align-items: center;
    border:  1px solid red;
    cursor: pointer;
}

.Pop_Qty p{
    font-size: 18px;
}

.Pop_Order {
    width: 83%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pop_OrderBtn {
    width: 100%;
    height: 80%;
    background: #27283D;
    color: rgba(255, 255, 255, 0.923);
    letter-spacing: 1px;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.Search_Wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #0000005f;
}

.Search_ResultDiv::-webkit-scrollbar {
    display: none;
}

.Search_Bar {
    width: 90%;
    height: 90vh;
    background: #000000f8;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.Search_Input {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end ;
    justify-content: center;
    position: relative;
}

.Cancel_Search{
    color: white;
    position: absolute;
    top:55%;
    left: 4%;
}

.Search_Input input{
    width: 40%;
    height: 50%;
    border: 1px solid rgba(255, 255, 255, 0.578);
    outline: none;
    padding-left: 20px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    background-color: transparent;
}

.Search_ResultDiv {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    /* justify-content: center; */
    overflow: auto;
    gap: 3%;
}

.Search_Result {
    cursor: pointer;
    width: 40%;
    min-height: 39%;
    background: #000;
    transform: scale(1);
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.342) ;
}

.Search_Result:hover {
   transform: scale(1.01);
   transition: all 450ms;
}

.Result_Img {
    width: 35%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Result_Img img{
    width: 80%;
    height:60%;
}
.Result_Des {
    width: 65%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    text-align: center;
    flex-direction: column;
}

.Desc_Name {
    width: 100%;
    display: flex;
    height: 45%;
    justify-content: flex-end   ;
    gap: 7px;
    align-items: center ;
    text-align: center;
    flex-direction: column;
}

.Result_Des p{
    width: 90%;
    line-height: 16px;
}

.Result_Des h4{
    width: 67%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.674);
}

.Result_Price {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    font-size: 19px;
    align-items: flex-end;
}
/* 
.ATC_Noftication div {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 10px;
} */

/* .View_Cart {
    color: black;
    cursor: pointer;
}

.View_Cart:hover {
    text-decoration: underline;
    color: #27283D;
}

.ATC_Noftication h4 {
    cursor: pointer;
    font-size:21px;
    color: red;
    transform: scale(1);
    
}

.ATC_Noftication h4:hover {
    cursor: pointer;
    transform: scale(1.1);
    font-size:21px;
}

.AddMark_Icon {
    font-size: 20px;
    margin-right: -5px;
    color: green;
} */