@media screen and (max-width: 575px) { 
    
    .RexExMain_Category {
        width: 95%;
        height: 50vh;
        flex-direction: column;
        display: flex;
        position: relative;
    }
    .MainCategory_Img {
        width: 100%;
        height: 60%;
    }

    .Category_SearchBar {
        font-size: 45px;
        top: 0;
        right: 5%;
        position: absolute;
    }

    .MainCategory_Desc {
        width: 100%;
        height: 40%; 

    }
    

    .MainCategory_Img {
        padding-right: 5%;
    }

    .MainCategory_Img img {
        width: 78%;
        height: 100%;
    }

    .Category_SearchBar {
        font-size: 25px;
    }

    .Category_Header {
        align-items: center;
    }

    .Category_Header h1 {
        width: 70%;

        font-size: 18px;
        display: flex;
        text-align: center;
    }

    .Category_BtnDiv {
        width: 100%;
        height:40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Category_Btn {
        width: 70%;
        height: 80%;
        font-size: 17px;
        border-radius: 5px;
    }

    .Category_ProductSection {
        gap: 0vh;
    }
    
    .Category_SortDiv {
        width: 100%;
        margin-top: 2vh;
        height: 6vh;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
    
    .SortBy_Category {
        width:25%;
        height: 65%;
        font-size: 13px;
    }
    
    .Choose_Category {
        width:25%;
        height: 65%;
        font-size: 13px;
    }
/* /////// */
        
    .Category_ProductsDiv {
        gap: 2%;
        justify-content: center;
        margin-bottom: 2vh;
    }
    
    .Category_ProductsH {
        width: 23rem;
        height: 29rem;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 1vh;
        display: none;
        
    }
    
    .Category_ProductsH:hover{
        position: relative;
        transition: 250ms;
        height:260px;
    }
    .Category_ProductsH:hover >.Category_ImgH{
        transform: scale(.6);
        height: 58%;
    }
    
    .Category_ImgH{
        transform: scale(.6);
        position: absolute;
        top: 0;
        height: 58%; 
        align-items: flex-start;
    }
    
   
    .Detail_Name {
        display: none;
    }
  
    .Category_ImgH img{
        width: 80%;
        height: 100%;;
    }
    
    .Category_DesH {
        width: 100%;
        display: flex;
         border-radius: 0px 0px 5px 5px;
        background: white;
        position: absolute;
        bottom: 0;
        height: 52%;
    
    }

    .Detail_Name span{
        font-size: 10px;
    }
  
    .CategoryDes_Btn {
        width: 90%;
        height: 40%;
    }
        
    .Cateory_ATCBtn {
        width: 45%;
        height: 60%;
        border-radius: 5px;
        gap: 2px;
        transform: scale(1);
    }

    .Category_ProductsHMobile {
        display: flex;
        width: 85%;
        height: 27rem;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 2vh;
    }

    .ATC_IconC {
        font-size: 26px;
    }

    .Category_ProductsC {
        width: 47%;
        height: 300px;
        background: white;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 3vh;}
    
    .Category_ImgC {
        width: 100%;
        height: 60%;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-self: center;
        border-radius: 15px 15px 0px 0px;
        align-items: center;
    }
    
    .Category_ImgC img{
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        height: 100%;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    
    }
    
    .Category_DesC {
        width: 100%;
        height: 40%;    
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px 5px 10px 10px;
    
    }
    
    .CategoryDes_DetailsC {
        width: 85%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content:  flex-end;  
        gap: 1px; 
    }
    
    .CategoryDes_DetailsC h4{
        font-size: 15px;
    }

    
}
