.NewPassword_Page {
    width: 100%;
    height: 100vh;
    background: #000;
    background: url('../../../assets//bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NewPassword_Opacity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.14);
}

.NewPassword_Card {
    width: 55%;
    height: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RedExNewPassword_Logo {
    width: 25%;
    height: 13%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.RedExNewPassword_Logo img{
    width: 90%;
    height: 78%;
}

.NewPassword_Text {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 5%;
    gap: 15px;
}
.NewPassword_Text h1 {
    font-size: 40px;
    font-weight: normal;
}
.NewPassword_Text span{
    font-size: 33px;
}

.NewPassword_Action {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 13px;
    justify-content: flex-start;
}

.EmailVer_Input {
    width: 45%;
    height: 55px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-inline: 16px;
}
.EmailVer_Input:focus {
    border: 1px solid red;
}

.NewPassword_Btn {
    width: 45%;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    background: red;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}

.NewPassword_Btn:hover {
    transition: all 500ms ;
    background-color: rgb(206, 9, 9);
}