.RedExCart_Page {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}

.CartPage_Route {
    width: 95%;
    height: 7%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.CartPage_BoxDiv {
    width: 95%;
    user-select: none;
    height: 84%;
    display: flex;
    justify-content: space-between;
}

.CartPage_Items {
    width: 66%;
    height: 100%;
    background: #EEDDEE;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.CartItems_Wrapper {
    width: 97%;
    height: 95%;
    overflow: auto;
    overflow-x: hidden;
}

.CartItems_Wrapper::-webkit-scrollbar {
    background-color: grey;
    width: 13px;
    /* display: none; */
}

.CartItems_Wrapper::-webkit-scrollbar-thumb{
    background-color: red;
}

.CartItems_Header {
    width: 100%;
    height: 10%;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: -3px;
}

.CartItem_Container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    transform: scale(1);
    margin-top: 10px;

}

.CartItem_Container:hover {
    transition: all 250ms;
    /* transform: scale(1.005); */
    height: 150px;
    background: rgb(255, 255, 255);
}

.DeleteCart_Icon {
    position: absolute;
    bottom: 6%;
    color: red;
    font-size: 20px;
    cursor: pointer;
    right: 2%;
    transform: scale(1);
    display: none;
}

.DeleteCart_Icon:hover {
    transform: scale(1.1);
}

.Update_Cart {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    bottom: 6%;
    color: rgb(9, 9, 50);
    cursor: pointer;
    left: 2%;
    display: none;
}

.Update_Cart:hover {
    text-decoration: underline;
}

.CartItems_Header ul{
    width: 99.5%;
    height: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2.5%;

}

.CartItems_Header ul li{
    display: flex;
   font-size: 14px;
   font-weight: bold;
    list-style-type: none;
    color: white;
    align-items: center;
    gap: 1px;
}

hr {
    height: 16px;
    rotate: 16deg;
    background: white;
    color: white;
    outline: none;
    border: 1px solid white;
}


.Cart_Item {
    width: 99.5%;
    height: 100%;
    background: white;
    display: flex;
    position: relative;

}

.Cart_Item:hover {
    display: flex;
    align-items: flex-start;
}

.Cart_Item:hover > .DeleteCart_Icon,.Cart_Item:hover > .Update_Cart {
    display: flex;
}
 .Cart_Item:hover > .Item_Name, .Cart_Item:hover > .Item_Price, .Cart_Item:hover > .Item_Qty, .Cart_Item:hover > .Item_Total {
    height: 50%;
}

.Cart_Item:hover > .Item_Img {
    height: 80%;
}

.Cart_Item:hover > .Item_Img div {
    width: 100px;
    height: 90px;
}

.Item_Img {
    width: 18%;
    height: 100%;
    display: flex;
    padding-left: 2%;
    align-items: center;
}

.Item_Img div {
    width: 60px;
    height: 60px;
    background: #000;
    transition: all 250ms;
    /* border-radius: 50%; */
    object-fit: cover;
}

.Item_Img div img{
    width: 100%;
    height: 100%;;
    /* border-radius: 50%; */
}

.Item_Name {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Item_Price {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Item_Qty {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
/* 
.Item_Qty h4{
    transition: all 550ms;
} */

.Add_Qty, .Min_Qty {
    width: 23px;
    font-weight: bold;
    outline: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.618);
    height: 23px;
    cursor: pointer;
}

.Item_Total {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CartPage_Checkout {
    width: 32%;
    height: 65%;
    background: #EEDDEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.CheckOut_Text {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
}


.CheckOut_Prices {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.CheckOut_Total {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2px;
}

.CheckOut_Total span{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.679);
}

.CheckOut_Btn {
    width: 90%;
    height: 19%;
    background: white;
    outline: none;
    border: 1.5px solid black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 19px;
    font-weight: bold;
}
.CheckOut_Btn:hover {
    transition: all 350ms;
    background: rgba(255, 255, 255, 0.655);
}

.Product_No {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.679);
    align-items: center;
}

.Total_Qty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.679);
    align-items: center;
}

.Clear_CartFun {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.Clear_CartFun h4{
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    color: #27283D;
}

.Clear_CartFun h4:hover {
    transition: all 350ms;
    text-decoration: underline;
}