
@media screen and (max-width: 767px) { 

    .ForgetPassword_Card {
        width: 100%;
        height: 45%;
    }

    .RedExForgetPassword_Logo {
        width: 49%;
        height: 17%;
        border-radius: 3px;
    }
        
    .RedExForgetPassword_Logo img{
        width: 90%;
        height: 78%;
    }

    .ForgetPassword_Text {
        width: 100%;
        height: 35%;
    }

    .ForgetPassword_Text h1 {
        font-size: 25px;
        font-weight: normal;
    }
    .ForgetPassword_Text span{
        font-size: 22px;
    }

    
.EmailVer_Input {
    width: 80%;
    height: 50%;
}

.ForgetPassword_Btn {
    width: 80%;
    height: 50%;
}
}