
@media screen and (max-width: 575px) { 

    .Login_Card {
        width: 90%;
        height: 62%;
        background-color: transparent;
        border-radius: 10px;
    }

    .Login_Input {
        height: 34%;
    }

    .Login_Input input {
        height: 75px;
        border: 1px solid white;
        color: white;
        background: transparent;
        border-radius: 5px;
    }

    .Redex_TlogoLogin {
        left: 20%;
        top: 18%;
    }

    .Login_Input input:placeholder-shown {
        color: green;
    }
    .Login_Input input::placeholder {
        color: rgba(255, 255, 255, 0.61);
    }

    .Forgot_PasswordSpan {
        color: white;
        /* position: absolute;
        bottom: 38%;
        font-size: 13px;
        text-decoration: underline;
        left: 0%; */
    }
    .Forgot_PasswordSpan:hover {
        color: white;
        position: absolute;
        bottom: 38%;
        font-size: 13px;
        left: 0%;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    
    .Login_Input input {
        height: 75%;
        border: 1px solid white;
        color: white;
        background: white;
        border-radius: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .Login_Card {
        width: 95%;
        height: 55%;
        background-color: transparent;
        border-radius: 10px;
    }
    
    .Login_Input input {
        height: 75%;
        border: 1px solid white;
        color: white;
        background: white;
        border-radius: 5px;
    }
}